.App {
  text-align: center;
    background-image: url('./img/universo.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover !important;
      background-position: center;
      min-height: 100vh;

}



.fondo{
  background-color: white;
}

.fondo-violet{
  background: linear-gradient(90deg, rgb(3, 37, 110) 0%, rgba(105, 9, 121, 1) 35%);
  color: white;
  font-weight: bold;
}


.list-group-item {
  background-color: transparent !important;
  color: lightcyan !important;
  border-color: rgb(105, 9, 121, 1) !important;
  border-style:double !important;
  font-size: large;
}

.fondo-agregar{
  height:auto ;
  margin: 0;
  padding: 0;
}

.color-boton{
  background-color: rgb(105, 9, 121, 1)
}